/* 
* @Author: Marte
* @Date:   2017-03-28 15:01:32
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-29 18:26:34
*/
.searchBox{
    position:relative;
}
.searchBox .finish{
    position:absolute;
    right:0;
    top:0;
    width: 5.4rem;
    height:4.4rem;
    line-height:4.4rem;
    color:#454545;
    text-align: center;
    display:none;
}
.searchBox .right{
    background:none;
    height:4.4rem;
    line-height:4.4rem;
    font-size:1.3rem;
    color:#454545;
    text-align: center;
}
.bottom>a:nth-of-type(2){
    background:url(../image/classfiy.png) center .7rem no-repeat;
    background-size:1.5rem 1.5rem;
}
.bottom>a:nth-of-type(2) p{
    color:#7f7f7f;
}
.bottom>a:nth-of-type(4){
    background:url(../image/cartCol.png) center .7rem no-repeat;
    background-size:1.6rem 1.6rem;
}
.bottom>a:nth-of-type(4) p{
    color:#b12819;
}
.goodsList{
    /*display:none;*/
}
.goodsList li{
    position:relative;
    width:94%;
    height:6.4rem;
    padding:0.8rem 3%;
    margin-bottom:.6rem;
}
.searchBox {
    margin-bottom:0.7rem;
    border-bottom:1px solid #d9d9d9;
}
.goodsList li>div{
    float:left;
}
.goodsList li .select-icon{
    width:7.5%;
    height:6.4rem;
    background:url(../image/cartSelectNo.png) left center no-repeat;
    background-size:1.7rem 1.7rem;
}
.goodsList li .select-icon input{
    opacity: 0;
}
.goodsList li .sel-active{
    width:7.5%;
    height:6.4rem;
    background:url(../image/cartSelected.png) left center no-repeat;
    background-size:1.7rem 1.7rem;
}
.goodsList li .goods-img{
    width:19%;
    height:6.4rem;
    background-color: red;
}
.goodsList li .goods-words{
    /*display:none;*/
    width:44%;
    line-height:2.8rem;
    font-size:1.2rem;
    color:#b3b3b3;
    padding-left:2.4%;
}
.goodsList li .goods-words .name,.goodsList li .goods-words .type{
    line-height:1.8rem;
}
.goodsList li .goods-words .name{
    font-size:1.2rem;
    height:1.9rem;
    color:#666;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.goodsList li .goods-price{
    float:right;
    /*display:none;*/
}
.goods-price .price-new{
    line-height:2.4rem;
    margin-top:0.8rem;
    font-size:1.8rem;
    color:#454545;
    text-align: right;
}
.goods-price .price-new .flag{
    font-size:1.2rem;
}
.goods-price .price-origin{
    font-size:1.2rem;
    line-height:1.7rem;
    color:#b3b3b3;
    text-decoration:line-through;
    text-align: right;
}
.goodsList li .choose-box{
    position:absolute;
    width:44%;
    height:6.4rem;
    left:33%;
    top:0.8rem;
    display:none;
}
.sel-num span{
    float:left;
    text-align: center;
    border-radius:2px;
    margin-right:8%;
    border:1px solid #505050;
}
.sel-num{
    height:2.9rem;
    margin-top:0.5rem;
    line-height:2.9rem;
    font-size:1.4rem;
    color:#454545;
    margin-bottom:1.1rem;
}
.sel-num .minus,.sel-num .plus{
    box-sizing:border-box;
    width:20%;
}
.sel-num .num{
    width:32%;
}
.sel-type{
    height:1.9rem;
    width:64%;
    background:url(../image/down.png) right center no-repeat;
    background-size:1.1rem 0.6rem;
    color:#9a9a9a;
    font-size:1.2rem;
    border-width:0;
}
.goods-del{
    position:absolute;
    width:13%;
    height:8rem;
    right:0;
    bottom:0;
    background-color:#b12819;
    color:white;
    text-align:center;
    line-height:8rem;
    display:none;
}
.cal-bottom{
    position:fixed;
    left:0;
    bottom:5.1rem;
    width:97%;
    height:5.2rem;
    line-height:5.2rem;
    padding-left:3%;
/*    display:none;*/
}
.cal-bottom>div,.cal-bottom input{
    float:left;
}
.cal-bottom input{
    border-width:0;
}
.cal-bottom .sel-all{
    width:13%;
    text-align: right;
    font-size:1.2rem;
    color:#666;
    background:url(../image/cartSelectNo.png) left center no-repeat;
    background-size:1.7rem 1.7rem;
}
.cal-bottom .sel-total{
    float:right;
    padding-right:3.5%;
    /*display:none;*/
}
.cal-bottom .sel-total>p{
    line-height:1.7rem;
}
.cal-bottom .sel-total .money{
    margin-top:1rem;
    font-size:1.3rem;
    color:#ff0000;
}
.cal-bottom .sel-total .tips{
    font-size:1.1rem;
    color:#666;
}
.cal-bottom .sel-del{
    float:right;
    width:35%;
    height:5.2rem;
    line-height:5.2rem;
    background-color:#b12819;
    color:white;
    text-align: center;
    font-size:1.5rem;
    display:none;
}
.cal-bottom .sel-cal{
    float:right;
    width:35%;
    height:5.2rem;
    line-height:5.2rem;
    background-color:#b12819;
    color:white;
    text-align: center;
    font-size:1.5rem;
}
.sel-all input{
    opacity:0;
    width:0;
    height:0;
}
.cal-bottom .sel-all-active{
    background:url(../image/cartSelected.png) left center no-repeat;
    background-size:1.7rem 1.7rem;    
}
.noGoods{
    position:absolute;
    left:32%;
    top:10rem;
    width:35%;
    height:15rem;
    display:none;
}
.noGoods p{
    text-align: center;
    line-height:3rem;
    font-size:1.3rem;
    color:#666;
}